@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    border-collapse: collapse;
    list-style: none;
}		

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    font-size: 1.5rem;
}

@font-face{
    font-family: good_times;
    src: url(good_times.woff);
}

:root{
    --cor-branco: #fff;
    --cor-preto: black;
    --cor-principal: #2498DB;
    --cor-secundaria: #909191;
    --cor-terciaria: #f7f7f7;
    --cor-promocional-um: #FFC600;
    --cor-promocional-dois: #FFB400;
    --cor-promocional-tres: #FF4E00;
    --cor-promocional-quatro: #FF3C00;
    --linear-gradient-fundo: linear-gradient(90deg, rgba(240,240,240,1) 24%, rgba(205,205,205,1) 85%);
    --linear-gradient-fundo-azul: linear-gradient(90deg, rgba(36,152,219,1) 24%, rgba(36,116,219,1) 64%);;
    --fonte-titulos: good_times;
    --fonte-paragrafos: 'Montserrat', sans-serif;
}

.fa-plus{
    color: var(--cor-principal);
    cursor: pointer;
    transition: .3s;
}

.fa-minus{
    cursor: pointer;
    transition: .3s;
}

.fa-plus:hover, .fa-minus:hover{
    transform: scale(1.05);
}

.rwb-tooltip{
    background: var(--cor-branco);
    font-family: var(--fonte-paragrafos);
}

#robbu-whatsapp-button{
    z-index: 100000000000;
}

.cookies{
    box-shadow: 0.2rem 0.2rem 2rem var(--cor-branco);
    background: var(--cor-branco);
    color: var(--cor-preto);
    padding: 2rem 1rem;
    position: fixed;
    z-index: 10000000000000000000000000;
    display: none;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    margin: 0 auto;
    font-family: var(--fonte-paragrafos);
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.popup{
    background: #2b6a8b;
    text-align: center;
    color: var(--cor-branco);
    font-family: var(--fonte-paragrafos);
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 10.8rem;
    right: 0;
    lefT: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    flex-wrap: row wrap;
    align-items: center;
    gap: 2rem;
}

div.popup-ocultar{
    display: none;
}

.popup div{
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.popup div span{
    width: 100%;
    height: 0.3rem;
    border-radius: 1rem;
    background: var(--cor-branco);
}

.popup div span:nth-child(1){
    transform: rotate(45deg) translate(0.9rem);
}

.popup div span:nth-child(2){
    transform: rotate(-45deg) translate(0.9rem);
}

div.cookies-desocultar{
    display: flex;
}

.cookies p{
    font-size: 1.4rem;
    text-align: center;
}

.cookies p a{
    text-decoration: underline;
    transition: .3s;
    display: inline-block;
}

.cookies span{
    border: 0.2rem solid green;
    color: green;
    padding: 1rem;
    cursor: pointer;
    transition: .3s;
}

.cookies span:hover, .cookies p a:hover{
    transform: scale(1.05);
}

/* Cabecalho - Início */

.cabecalho-invisivel{
    min-height: 8rem;
}

.cabecalho, .cabecalho-mobile{
    width: 100%;
    padding: 1.5rem 0;
    background: var(--cor-terciaria);
    position: fixed;
    top: 0;
    z-index: 1000;
    font-family: var(--fonte-paragrafos);
}

.cabecalho-oculto{
    background: var(--cor-terciaria);
    font-family: var(--fonte-paragrafos);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    min-height: 110vh;
    padding: 1.5rem;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 100000;
    transition: .3s;
    transform: translateX(30rem);
}

.cabecalho-oculto>nav a{
    color: var(--cor-secundaria);
    transition: .3s;
}

.cabecalho-oculto>nav a:hover{
    transform: scale(1.05);
}

.cabecalho-oculto>nav{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.cabecalho-mobile{
    display: none;
}

.cabecalho>div, .cabecalho-mobile>div{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho>div>a, .cabecalho-mobile>div>a, .cabecalho-oculto>a{
    transition: .3s;
    font-size: 3.5rem;
    color: var(--cor-secundaria);
}

.cabecalho>div>a img, .cabecalho-mobile>div>a img, .cabecalho-oculto>a img{
    max-width: 15rem;
}

.cabecalho>div>a:hover, .cabecalho-mobile>div>a:hover, .cabecalho-oculto>a:hover{
    transform: scale(1.05);
}

.botao-mobile, .botao-oculto{
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: .3s;
}

.botao-oculto{
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
}

.botao-oculto>span:nth-of-type(1){
    transform: rotate(45deg) translate(1rem);
}

.botao-oculto>span:nth-of-type(2){
    transform: rotate(-45deg) translate(0.8rem);
}

.botao-mobile:hover, .botao-oculto:hover{
    transform: scale(1.05);
}

.botao-mobile>span, .botao-oculto>span{
    width: 100%;
    height: 0.3rem;
    border-radius: 1rem;
    background: var(--cor-secundaria);
}

.cabecalho>div nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.dropdown{
    color: var(--cor-secundaria);
    position: relative;
    z-index: 10000000000;
    /* border: 1px solid red; */
}

.dropdown p{
    display: flex;
    gap: 0.5rem;
    margin: 0 0 0.3rem 0;
    justify-content: center;
    align-items: center;
    transition: .3s;
    font-size: 2rem;
    font-weight: bold;
    z-index: 100000000;
}

.dropdown p:hover{
    transform: scale(1.05);
}

.dropdown i{
    font-size: 0.6rem;
    color: var(--cor-principal);
}

.dropdown>div{
    display: none;
    position: absolute;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    top: 2.5rem;
    right: -6rem;
    background: var(--cor-branco);
    width: 100%;
    cursor: pointer;
    padding: 0.5rem;
    width: 20rem;
    /* border: 1px solid red; */
}

.cabecalho-oculto .dropdown>div{
    position: static;
}

.dropdown>div a{
    padding: 0.5rem 0;
    font-size: 2rem;
    font-weight: bold;
    color: var(--cor-principal) !important;
}

.dropdown:hover>div, .dropdown>div:hover{
    display: flex;
}

.dropdown>nav a{
    color: var(--cor-principal);
}

.cabecalho>div nav a, .cabecalho-oculto nav a{
    color: var(--cor-secundaria);
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-flow: column nowrap;
    transition: .3s;
}

.cabecalho-oculto nav a{
    font-size: 2rem;
}

.cabecalho>div nav a span, .cabecalho-oculto nav a span{
    width: 0%;
    height: 0.3rem;
    background: var(--cor-secundaria);
    border-radius: 1rem;
    transition: .3s;
}

.dropdown div a span{
    background: var(--cor-secundaria) !important;
}

.cabecalho>div nav a:hover{
    transform: scale(1.05);
}

.cabecalho>div nav a:hover span, .cabecalho-oculto nav a:hover span{
    width: 100%;
}

/* Cabecalho - Fim */


/* Container Home - Início */

.container-home{
    background: var(--linear-gradient-fundo);
    background-size: cover;
}

.container-home>div{
    width: 90%;
    margin: 0 auto;
    min-height: 92vh;
    padding: 2rem 0;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 8rem;
    font-family: var(--fonte-paragrafos);
}

.home{
    display: flex;
    max-width: 50rem;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 2rem;
}

.home h1{
    color: #767171;
    width: 100%;
    font-size: 5rem;
    text-align: left;
}

.home p{
    text-align: left;
    color: #767171;
    font-size: 2.1rem;
}

.home strong{
    width: 100%;
    color: var(--cor-principal);
    font-family: var(--fonte-titulos);
    text-align: left;
    font-size: 2rem;
}

/* Container Home - Fim */

/* Container Motivos - Início */

.container-motivos{
    background: var(--linear-gradient-fundo-azul);
    background-size: cover;
}

.container-motivos>div{
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
    min-height: 92vh;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 2rem;
    font-family: var(--fonte-paragrafos);
    color: var(--cor-secundaria);
}

.container-motivos h2{
    font-size: 2.5rem;
    text-align: center;
    color: var(--cor-branco);
}

.container-motivos p{
    color: var(--cor-preto);
}

.motivos i.fa-check{
    color: rgb(28, 189, 28);
}

.motivos i.fa-plus{
    color: black;
}

.container-motivos .fa-plus-ocultar{
    display: none !important;
}

.motivos{
    display: flex;
    max-width: 90rem;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 1.5rem;  
    font-size: 1.8rem;
    font-weight: bold;
}

.container-motivos span{
    color: var(--cor-branco);
    display: none;
}

span.desocultar-motivos{
    display: inline !important;
}


.motivos-imagens{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 2rem;
}

.motivos-imagens img{
    max-width: 20rem;
}

/* Container Motivos - Fim */

/* Container Produtos - Início */

.produto{
    padding: 2rem 0;
    width: 90%;
    margin: 0 auto;
    background: var(--linear-gradient-fundo);
    min-height: 92vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    color: var(--cor-branco);
}

.produto img{
    width: 100%;
}

.produto-imagem-desktop{
    display: block;
}

.produto-imagem-mobile{
    display: none;
}

.produto-imagem-quadrada{
    display: none;
}

.produto h2{
    font-family: var(--fonte-titulos);
    font-size: 1.4rem;
    color: var(--cor-principal);
    text-align: center;
}

.produto>div{
    position: relative;
    border: 0.3rem solid var(--cor-principal);
    box-shadow: 0.2rem 0.2rem 2rem #2498DB;
    width: 70%;
}

/* .produto>div>a{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    display: none;
    transition: .3s;
} */

/* .produto>div:hover a{
    display: flex;
} */

.produto a{
    background: var(--cor-principal);
    border-radius: 1rem;
    font-family: var(--fonte-paragrafos);
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    color: var(--cor-branco);
    transition: .3s;
    font-size: 1.7rem;
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    max-width: 15rem;
    margin: 0 auto;
    transition: .3s;
}

.produto a:hover{
    transform: scale(1.05);
}

/* Container Produtos - Fim */

/* Container Motivos - Início */

.container-video{
    background: var(--linear-gradient-fundo);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 2.5rem;
    min-height: 92vh;
    padding: 2rem 0;
    font-family: var(--fonte-paragrafos);
    color: var(--cor-secundaria);
}

.video{
    width: 100%;
    margin: 0 auto;
    background: var(--linear-gradient-fundo-azul);
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 2rem;
    padding: 3rem 1rem;
    font-family: var(--fonte-paragrafos);
}

.container-video h2{
    font-size: 2.5rem;
    margin: 0 2rem;
    text-align: center;
}

.container-video span{
    color: var(--cor-principal);
}

.video iframe{
    width: 90rem;
    height: 47.25rem;
    margin: 0 auto;
}

.imagens-video{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: var(--cor-branco);
    font-weight: bold;
    /* border: 1px solid red; */
}

.imagens-video>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-flow: column nowrap;
}

.imagens-video>div img{
    width: 7rem;
}

.imagens-video span{
    height: 0.3rem;
    background: var(--cor-branco);
    width: 7rem;
}

/* width="560" height="315" */

/* Container Motivos - Fim */

/* Container Topicos - Início */

.container-topicos{
    background: var(--linear-gradient-fundo);
    background-size: cover;
    color: var(--cor-secundaria);
}

.container-topicos>div{
    width: 90%;
    margin: 0 auto;
    min-height: 92vh;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 4rem;
    font-family: var(--fonte-paragrafos);
}

.container-topicos h2{
    font-size: 3rem;
}

.container-topicos span{
    color: var(--cor-principal);
}

.topicos{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 3rem;
}

.topicos h2{
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.topicos>div{
    max-width: 30rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;
    gap: 1rem;
}

.topicos>div>div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;
    gap: 1rem;
    overflow: hidden;
    height: 0rem;
}

div.desocultar-topicos{
    height: auto !important;
}

.topicos p{
    color: var(--cor-principal);
    font-weight: bold;
    font-size: 1.8rem;
}

/* Container Topicos - Fim */

/* Container Diferenciais e Benefícios - Início */

.container-diferenciais-e-beneficios{
    background: var(--linear-gradient-fundo-azul);
    background-size: cover;
    color: var(--cor-secundaria);
}

.container-diferenciais-e-beneficios>div{
    width: 90%;
    margin: 0 auto;
    min-height: 92vh;
    padding: 2rem 0;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 4rem;
    font-family: var(--fonte-paragrafos);
}

.container-diferenciais-e-beneficios h2{
    color: var(--cor-branco);
    font-size: 3rem;
    font-family: var(--fonte-titulos);
    font-weight: none;
    text-align: center;
}

.container-diferenciais-e-beneficios h3{
    font-size: 2.5rem;
    font-family: var(--fonte-titulos);
    color: var(--cor-branco);
}

.diferenciais-beneficios{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-content: center;
    /* border: 1px solid red; */
    gap: 5rem;
}

.diferenciais-beneficios p{
    color: var(--cor-branco);
    font-weight: bold;
    font-size: 1.8rem;
}

.diferenciais-beneficios i{
    color: rgb(28, 189, 28);
}

.diferenciais-beneficios>div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
    gap: 0.8rem;
}

.diferenciais-beneficios>div>div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
    gap: 0.8rem;
    overflow: hidden;
    height: 0rem;
}

div.desocultar-diferenciais{
    height: auto !important;
}

/* Container Diferenciais e Benefícios - Fim */

/* Container Parceiros - Início */

.container-parceiros{
    background: var(--linear-gradient-fundo);
    background-size: cover;
    color: var(--cor-secundaria);
}

.container-parceiros>div{
    width: 90%;
    margin: 0 auto;
    min-height: 92vh;
    padding: 2rem 0;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 4rem;
    font-family: var(--fonte-paragrafos);
}

.container-parceiros h2{
    color: var(--cor-secundaria);
    font-size: 3rem;
    font-family: var(--fonte-titulos);
    font-weight: none;
}

.container-parceiros h2:last-child{
    color: var(--cor-principal);
    font-family: var(--fonte-paragrafos);
    font-size: 2rem;
    text-align: center;
}

.parceiros{
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: flex-start;
    flex-flow: row nowrap;
    gap: 4rem;
}

.parceiros>div:nth-child(1), .parceiros>div:nth-child(1)>div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
}

.parceiros>div:nth-child(1) span{
    padding: 2rem;
    border-radius: 1rem;
    color: var(--cor-branco);
    background: var(--cor-branco);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
    gap: 1rem;
}

.parceiros>div:nth-child(1) img{
    max-width: 15rem;
}

.parceiros>div:nth-child(1)>div h4{
    color: rgb(211, 22, 22);
    font-size: 3rem;
}

.parceiros>div:nth-child(1)>div h3, .parceiros>div:nth-child(1)>div p{
    color: rgb(39, 36, 36);
    font-weight: bold;
}

.parceiros>div:nth-child(1)>div h3{
    font-size: 2rem;
}

.parceiros>div:nth-child(1)>div{
    background: #c6c9c9;
    padding: 2rem;
    gap: 1.5rem;
}

.parceiros>div:nth-child(1)>div>div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row nowrap;
    gap: 1.5rem;
}

.parceiros>div:nth-child(2){
    background: rgb(165, 10, 10);
    padding: 2rem 2rem;
    border-radius: 1rem;
    color: var(--cor-branco);
    display: flex;
    max-width: 70rem;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
    gap: 0.5rem;
}

.parceiros>div:nth-child(2) i{
    color: rgb(28, 189, 28);
}

/* Container Parceiros - Fim */

/* Container Baixar App - Início */

.container-baixar-app{
    background: var(--linear-gradient-fundo-azul);
    background-size: cover;
    color: var(--cor-secundaria);
}

.container-baixar-app>div{
    width: 90%;
    margin: 0 auto;
    min-height: 92vh;
    padding: 2rem 0;
    display: flex;
    /* border: 1px solid green; */
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 4rem;
    font-family: var(--fonte-paragrafos);
}

.baixar-app{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background: var(--linear-gradient-fundo);
    padding: 3rem 6rem;
    border-radius: 10rem;
    gap: 2rem;
    width: 90rem;
    min-height: 40rem;
    max-height: 40rem;
    position: relative;
}

.baixar-app>div{
    display: flex;
    max-width: 50rem;
    flex-flow: column nowrap;
    font-family: var(--fonte-paragrafos);
    gap: 2rem;
    color: var(--cor-branco);
}

.baixar-app h2{
    font-size: 4rem;
    text-align: left;
    color: var(--cor-principal);
}

.baixar-app p{
    font-size: 2rem;
    color: var(--cor-principal);
}

.baixar-app img{
    max-width: 15rem;
}

/* .baixar-app>img{
    top: -9.8rem;
    max-width: 70rem;
    right: 9rem;
    position: absolute;
} */

.baixar-app>img{
    max-width: 50rem;
    transform: translateY(-4.8rem);
}

/* Container Baixar App - Fim */

/* Container Dúvidas - Início */

.container-duvidas{
    background: var(--linear-gradient-fundo);
    background-size: cover;
    color: var(--cor-secundaria);
}

.container-duvidas>div{
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;
    min-height: 92vh;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 4rem;
    font-family: var(--fonte-paragrafos);
}

.container-duvidas h2{
    font-size: 3rem;
}

.container-duvidas span{
    color: var(--cor-principal);
}

.duvidas{
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    /* border: 1px solid red; */
}

.duvidas>div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
}

.duvida{
    max-width: 60rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}

.duvida>div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    overflow: hidden;
    height: 0rem;
}

div.desocultar-duvida{
    height: auto;
}

.duvida h3{
    font-size: 2rem;
    font-family: var(--fonte-titulos);
    color: var(--cor-secundaria);
}

.duvida p{
    font-weight: bold;
    font-family: var(--fonte-paragrafos);
    font-size: 1.5rem;
    color: var(--cor-principal);
}

.duvida i{
    color: var(--cor-principal);
}

/* Container Dúvidas - Fim */

/* Container Blog - Início */

.container-blog{
    background: url('../images/carro.jpg') center;
    background-size: cover;
    width: 100%;
}

.container-blog>div{
    width: 100%;
    background: linear-gradient(90deg, rgba(50,109,143,0.7) 35%, rgba(11,152,233,0.7) 69%);
}

.container-blog>div>div{
    width: 90%;
    margin: 0 auto;
    min-height: 92vh;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 4rem;
    font-family: var(--fonte-paragrafos);
}

.post{
    max-width: 80rem;
    color: var(--cor-branco);
    text-align: center;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 1rem;
}

.post h2{
    font-size: 4rem;
    text-align: center;
}

.post small{
    font-size: 1.5rem;
}

.post p{
    font-size: 2rem;
}

.post a{
    background: var(--cor-principal);
    padding: 1rem 2rem;
    border-radius: 10rem;
    color: var(--cor-branco);
    transition: .3s;
}

.post a:hover{
    transform: scale(1.05);
}

/* Container Blog - Fim */

/* Container Cadastro - Início */

.container-cadastro{
    background: url('../images/carro3.jpg') center;
    background-size: cover;
    width: 100%;
}

.container-cadastro>div{
    width: 100%;
    background: linear-gradient(90deg, rgba(50,109,143,0.7) 35%, rgba(11,152,233,0.7) 69%);
}

.container-cadastro>div>div{
    width: 90%;
    margin: 0 auto;
    min-height: 92vh;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-paragrafos);
}

.cadastro{
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 4rem;
}

.cadastro-coluna{
    /* border: 1px solid green; */
    max-width: 60rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.cadastro-coluna input{
    border: 0.2rem solid var(--cor-principal);
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-weight: bold;
    color: var(--cor-principal);
}

.cadastro-coluna h2{
    color: var(--cor-branco);
    font-size: 4rem;
    font-family: var(--fonte-titulos);
}

.cadastro-coluna input::placeholder{
    color: var(--cor-principal);
}

.cadastro-coluna select{
    width: 100%;
    border: 0.2rem solid var(--cor-principal);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    color: var(--cor-principal);
    font-weight: bold;
}

.cadastro-coluna form div{
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.cadastro-coluna form a{
    border: 0.2rem solid var(--cor-branco);
    padding: 1rem 2rem;
    color: var(--cor-branco);
    background: transparent;
    border-radius: 1rem;
    transition: .3s;
    font-weight: bold;
}

.cadastro-coluna form a:hover{
    transform: scale(1.05);
}

.cadastro-coluna form{
    display: flex;
    /* border: 1px solid black; */
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

/* Container Cadastro - Fim */

/* Container Rodapé - Início */

.container-rodape{
    width: 100%;
    background: url('../images/carro2.jpg') center;
    background-size: cover;
}

.container-rodape>div{
    width: 100%;
    padding: 0 0 1rem 0;
    margin: 0 auto;
    display: flex;
    min-height: 92vh;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column nowrap;
    background: rgba(0, 0, 0, 0.6);
}

.rodape{
    /* background: var(--cor-terciaria); */
    /* background: rgba(247, 247, 247, 0.6); */
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
    width: 100%;
    padding: 2rem;
    /* border: 1px solid blue; */
    font-family: var(--fonte-paragrafos);
}

.rodape>div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.rodape>div>p{
    max-width: 50rem;
    color: var(--cor-branco);
    letter-spacing: 0.1rem;
    /* font-weight: bold; */
}

.rodape ul{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.rodape ul a{
    color: var(--cor-branco);
    transition: .3s;
}

.rodape ul a:hover{
    text-decoration: underline;
}

.rodape strong{
    color: var(--cor-principal);
    font-family: var(--fonte-titulos);
    font-size: 2rem;
}

.rodape>a{
    transition: .3s;
    font-size: 3.5rem;
    max-width: 15rem;
    color: var(--cor-secundaria);
    /* border: 1px solid red; */
}

.rodape>a img{
    width: 100%;
}

.rodape>a:hover{
    transform: scale(1.05);
}

.rodape-imagens{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
    padding: 2rem;
}

.rodape-imagens img{
    width: 15rem;
}

.rodape-imagens a:nth-child(1) img, .rodape-imagens a:nth-child(2) img{
    width: 5rem;
}

.rodape-imagens a{
    transition: .3s;
}

.rodape-imagens a:hover{
    transform: scale(1.05);
}

.rodape-imagens a:nth-child(3) img{
    width: 10rem;
}

.rodape-copyright{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    flex-flow: column nowrap;
}

.rodape-copyright>div{
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    flex-flow: row wrap;
    font-weight: bold;
    font-family: var(--fonte-paragrafos);
    color: var(--cor-branco);
    gap: 2rem;
}

.rodape-copyright p{
    /* border: 1px solid red; */
}

.rodape-copyright a{
    color: var(--cor-branco);
    transition: .3s;
    display: inline-block;
}

.rodape-copyright a:hover{
    transform: scale(1.05);
}

/* Container Rodapé - Fim */

@media(max-width: 990px){

    header.container-oculto-desocultar{
        transform: translateX(0rem);
    }

    .cabecalho-mobile{
        display: block;
    }

    .cabecalho{
        display: none;
    }

    .cabecalho-invisivel{
        min-height: 10.5rem;
    }

    .home{
        padding: 1rem 0 0 0;
    }

}

@media(max-width: 935px){

    .video iframe{
        width: 60rem;
        height: 31.5rem;
        margin: 0 auto;
    }

}

@media(max-width: 635px){

    .video iframe{
        width: 30rem;
        height: 15.75rem;
        margin: 0 auto;
    }

}

@media(max-width: 730px){
    .baixar-app{
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        max-height: none;
    }

    .baixar-app>img{
        max-width: 20rem;
        transform: none;
    }

    .baixar-app>div{
        justify-content: center;
        align-items: center;
    }

    .baixar-app p{
        text-align: center;
    }

    .baixar-app h2{
        text-align: center;
    }
}

@media(max-width: 1200px){
    .produto-imagem-desktop{
        display: none !important;
    }
    
    .produto-imagem-mobile{
        display: none !important;
    }
    
    .produto-imagem-quadrada{
        display: block !important;
        width: 60% !important;
    }
}

@media(max-width: 1050px){
    .baixar-app{
        width: 100%;
        /* height: 40rem; */
    }
}

@media(max-width: 840px){
    .parceiros{
        flex-flow: row wrap;
    }
}

@media(max-width: 750px){
    .produto-imagem-desktop{
        display: none !important;
    }
    
    .produto-imagem-mobile{
        display: block !important;
        width: 90% !important;
    }
    
    .produto-imagem-quadrada{
        display: none !important;
    }
}

@media(max-width: 555px){
    .imagens-video{
        flex-flow: row wrap;
    }

    .parceiros>div:nth-child(1)>div>div{
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }

    .rodape>div{
        flex-flow: row wrap;
    }
}

@media(max-width: 500px){
    .duvidas{
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 380px){
    html{
        font-size: 50%;
    }
}

