@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    border-collapse: collapse;
    list-style: none;
}		

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    font-size: 1.5rem;
    background: var(--linear-gradient-fundo);
}

@font-face{
    font-family: good_times;
    src: url(good_times.woff);
}

:root{
    --cor-branco: #fff;
    --cor-preto: black;
    --cor-principal: #2498DB;
    --cor-secundaria: #909191;
    --cor-terciaria: #f7f7f7;
    --cor-promocional-um: #FFC600;
    --cor-promocional-dois: #FFB400;
    --cor-promocional-tres: #FF4E00;
    --cor-promocional-quatro: #FF3C00;
    --linear-gradient-fundo: linear-gradient(90deg, rgba(240,240,240,1) 24%, rgba(205,205,205,1) 85%);
    --linear-gradient-fundo-azul: linear-gradient(90deg, rgba(36,152,219,1) 24%, rgba(36,116,219,1) 64%);
    --fonte-titulos: good_times;
    --fonte-paragrafos: 'Montserrat', sans-serif;
}

.fa-plus{
    color: var(--cor-principal);
    cursor: pointer;
    transition: .3s;
}

.fa-angle-right{
    transition: .3s;
}

.fa-minus{
    cursor: pointer;
    transition: .3s;
}

.fa-plus:hover, .fa-minus:hover{
    transform: scale(1.05);
}

.rwb-tooltip{
    background: var(--cor-branco);
    font-family: var(--fonte-paragrafos);
}

#robbu-whatsapp-button{
    z-index: 100000000000;
}

.cookies{
    box-shadow: 0.2rem 0.2rem 2rem var(--cor-branco);
    background: var(--cor-branco);
    color: var(--cor-preto);
    padding: 2rem 1rem;
    position: fixed;
    z-index: 10000000000000000000000000;
    display: none;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    margin: 0 auto;
    font-family: var(--fonte-paragrafos);
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.popup{
    background: #2b6a8b;
    text-align: center;
    color: var(--cor-branco);
    font-family: var(--fonte-paragrafos);
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 9.8rem;
    right: 0;
    left: 0;
    font-size: 1.7rem;
    z-index: 1000;
    display: flex;
    justify-content: center;
    flex-wrap: row wrap;
    align-items: center;
    gap: 2rem;
}

div.popup-ocultar{
    display: none;
}

.popup div{
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.popup div span{
    width: 100%;
    height: 0.3rem;
    border-radius: 1rem;
    background: var(--cor-branco);
}

.popup div span:nth-child(1){
    transform: rotate(45deg) translate(0.9rem);
}

.popup div span:nth-child(2){
    transform: rotate(-45deg) translate(0.9rem);
}

div.cookies-desocultar{
    display: flex;
}

.cookies p{
    font-size: 1.4rem;
    text-align: center;
}

.cookies p a{
    text-decoration: underline;
    transition: .3s;
    display: inline-block;
}

.cookies span{
    border: 0.2rem solid green;
    color: green;
    padding: 1rem;
    cursor: pointer;
    transition: .3s;
}

.cookies span:hover, .cookies p a:hover{
    transform: scale(1.05);
}

.motivos-imagens{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 2rem;
}

.motivos-imagens a{
    transition: .3s;
}

.motivos-imagens a:hover{
    transform: scale(1.05);
}

.motivos-imagens img{
    max-width: 20rem;
}

/* Cabecalho - Início */

.cabecalho-invisivel{
    min-height: 10rem;
}

.cabecalho, .cabecalho-mobile{
    width: 100%;
    padding: 1rem 0;
    background: var(--cor-terciaria);
    position: fixed;
    top: 0;
    z-index: 1000;
    font-family: var(--fonte-paragrafos);
}

.cabecalho-oculto{
    background: var(--cor-terciaria);
    font-family: var(--fonte-paragrafos);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    min-height: 110vh;
    padding: 1.5rem;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 100000;
    transition: .3s;
    transform: translateX(30rem);
}

.cabecalho-oculto>nav a{
    color: var(--cor-secundaria);
    transition: .3s;
}

.cabecalho-oculto>nav a:hover{
    transform: scale(1.05);
}

.cabecalho-oculto>nav, .parte-oculta{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.parte-oculta{
    display: none;
}

/* .cabecalho-mobile{
    display: none;
} */

.cabecalho>div, .cabecalho-mobile>div{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-mobile>div>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.cabecalho>div>a, .cabecalho-mobile>div>a, .cabecalho-oculto>a{
    transition: .3s;
    font-size: 3.5rem;
    color: var(--cor-secundaria);
}

.cabecalho>div>a img, .cabecalho-mobile>div>a img, .cabecalho-oculto>a img{
    max-width: 15rem;
}

.cabecalho>div>a:hover, .cabecalho-mobile>div>a:hover, .cabecalho-oculto>a:hover{
    transform: scale(1.05);
}

.botao-mobile, .botao-oculto{
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: .3s;
}

.botao-mobile:hover{
    
}

.botao-oculto{
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
}

.botao-oculto>span:nth-of-type(1){
    transform: rotate(45deg) translate(1rem);
}

.botao-oculto>span:nth-of-type(2){
    transform: rotate(-45deg) translate(0.8rem);
}

.botao-mobile:hover, .botao-oculto:hover{
    transform: scale(1.05);
}

.botao-mobile>span, .botao-oculto>span{
    width: 100%;
    height: 0.3rem;
    border-radius: 1rem;
    background: var(--cor-secundaria);
}

.cabecalho-mobile>div nav{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

/* .dropdown{
    color: var(--cor-secundaria);
    position: relative;
    z-index: 10000000000;
}

.dropdown p{
    display: flex;
    gap: 0.5rem;
    margin: 0 0 0.3rem 0;
    justify-content: center;
    align-items: center;
    transition: .3s;
    font-size: 2rem;
    z-index: 100000000;
}

.dropdown p:hover{
    transform: scale(1.05);
}

.dropdown i{
    font-size: 0.6rem;
    color: var(--cor-principal);
}

.dropdown>div{
    display: none;
    position: absolute;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    top: 2.5rem;
    right: -6rem;
    background: var(--cor-branco);
    width: 100%;
    cursor: pointer;
    padding: 0.5rem;
    width: 20rem;
}

.cabecalho-oculto .dropdown>div{
    position: static;
}

.dropdown>div a{
    padding: 0.5rem 0;
    font-size: 2rem;
    font-weight: bold;
    color: var(--cor-principal) !important;
}

.dropdown:hover>div, .dropdown>div:hover{
    display: flex;
}

.dropdown>nav a{
    color: var(--cor-principal);
} */

.cabecalho-mobile>div nav a, .cabecalho-oculto nav a{
    color: var(--cor-secundaria);
    font-size: 2rem;
    /* font-weight: bold; */
    display: flex;
    flex-flow: column nowrap;
    transition: .3s;
}

.cabecalho-oculto nav a{
    font-size: 2rem;
}

.cabecalho-mobile>div nav a span, .cabecalho-oculto nav a span{
    width: 0%;
    height: 0.3rem;
    background: var(--cor-secundaria);
    border-radius: 1rem;
    transition: .3s;
}

.dropdown div a span{
    background: var(--cor-secundaria) !important;
}

.cabecalho-mobile>div nav a:hover{
    transform: scale(1.05);
}

.cabecalho-mobile>div nav a:hover span, .cabecalho-oculto nav a:hover span{
    width: 100%;
}

/* Cabecalho - Fim */


/* Container Home - Início */

.container-home{
    background: var(--linear-gradient-fundo);
    background-size: cover;
}

.container-home>div{
    width: 90%;
    margin: 0 auto;
    min-height: 92vh;
    padding: 2rem 0;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 8rem;
    font-family: var(--fonte-paragrafos);
}

.home{
    display: flex;
    max-width: 50rem;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 2rem;
}

.home h1{
    color: #767171;
    width: 100%;
    font-size: 5.5rem;
    text-align: left;
}

.home p{
    text-align: left;
    color: #767171;
    font-size: 2.5rem;
}

.home strong{
    width: 100%;
    color: var(--cor-principal);
    font-family: var(--fonte-titulos);
    text-align: left;
    font-size: 2.5rem;
}

/* Container Home - Fim */

/* Container Motivos - Início */

.container-motivos{
    width: 100%;
    background: var(--linear-gradient-fundo-azul);
    color: var(--cor-secundaria);
}

.container-motivos>div{
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;
    min-height: 92vh;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 6rem;
    font-family: var(--fonte-paragrafos);
}

.container-motivos>div img{
    max-width: 39rem;
    /* border: 0.4rem solid var(--cor-branco); */
}

.container-motivos h2{
    font-size: 4rem;
    color: var(--cor-branco);
    text-align: center;
}

.container-motivos h2 span{
    color: var(--cor-branco);
}

.motivos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 5rem;
    width: 100%;
}

.grid-motivos{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    gap: 4rem;
}

.motivo h3{
    color: var(--cor-branco);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    gap: 1rem;
    font-size: 2rem;
    /* border: 1px solid black; */
    width: 100%;
    cursor: pointer;
    position: relative;
}

.motivo h3 i{
    position: absolute;
    right: 0;
}

.grid-motivos>div{
    max-width: 33rem;
    padding: 1rem;
    border: 0.2rem solid var(--cor-branco);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
    gap: 1rem;
}

.grid-motivos>div>h3{
    text-decoration: underline;
    align-self: center;
    color: var(--cor-branco);
    font-size: 2rem;
}

.motivo{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 100%;
    gap: 0.5rem;
    /* border: 1px solid purple; */
}

.motivo h3 p{
    /* word-break: break-all; */
}

.motivo>p{
    color: var(--cor-branco);
    display: none;
}

.motivo>p.desocultar-motivo{
    display: block;
}

.grid-motivos h3 span{
    font-size: 7rem;
}

.grid-motivos i{
    cursor: pointer;
    transition: .3s;
}

.grid-motivos i.virar{
    transform: rotate(-90deg);
}

.grid-motivos i:hover{
    transform: scale(1.05);
}

/* Container Motivos - Fim */

/* Container Produtos - Início */

.container-ezcar{
    width: 100%;
}

.container-ezcar>div{
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
    background: var(--linear-gradient-fundo);
    min-height: 92vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: var(--cor-branco);
    /* border: 1px solid red; */
    font-family: var(--fonte-paragrafos);
}

.container-ezcar>div>p{
    text-align: center;
    color: var(--cor-principal);
    font-size: 1.6rem;
}

.container-ezcar>div>a{
    transition: .3s;
    font-size: 3.5rem;
    color: var(--cor-secundaria);
}

.container-ezcar>div>a img{
    max-width: 15rem;
}

.container-ezcar>div>a:hover{
    transform: scale(1.05);
}

.container-ezcar>div>h2{
    color: var(--cor-principal);
    font-size: 2.5rem;
    text-align: center;
    font-family: var(--fonte-titulos);
}

.ezcar{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.ezcar>img{
    max-width: 25rem;
}

.ezcar>div{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.ezcar>div>p{
    background: var(--cor-principal);
    border-radius: 5rem;
    color: var(--cor-branco);
    padding: 1rem 4rem;
    text-align: center;
    width: 30rem;
    min-height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ezcar>div>p span{
    position: absolute;
    background: var(--cor-branco);
    border-radius: 50%;
    padding: 2rem;
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ezcar>div>p img{
    width: 4rem;
}

.ezcar-valores{
    background: var(--cor-principal);
    color: var(--cor-branco);
    font-family: var(--fonte-titulos);
    width: 80%;
    display: flex;
    gap: 2rem;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    font-size: 2rem;
}

/* .produto{
    width: 90%;
    margin: 0 auto;
    background: var(--linear-gradient-fundo);
    min-height: 92vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    color: var(--cor-branco);
}

.produto img{
    width: 100%;
}

.produto-imagem-desktop{
    display: block;
}

.produto-imagem-mobile{
    display: none;
}

.produto-imagem-quadrada{
    display: none;
}

.produto h2{
    font-family: var(--fonte-titulos);
    font-size: 1.4rem;
    color: var(--cor-principal);
    text-align: center;
}

.produto>div{
    position: relative;
    border: 0.3rem solid var(--cor-principal);
    box-shadow: 0.2rem 0.2rem 2rem #2498DB;
    width: 70%;
}

.produto a{
    background: var(--cor-principal);
    border-radius: 1rem;
    font-family: var(--fonte-paragrafos);
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    color: var(--cor-branco);
    transition: .3s;
    font-size: 1.7rem;
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    max-width: 15rem;
    margin: 0 auto;
    transition: .3s;
}

.produto a:hover{
    transform: scale(1.05);
} */

/* Container Produtos - Fim */

/* Container Motivos - Início */

.container-video{
    background: var(--linear-gradient-fundo-azul);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 2.5rem;
    min-height: 92vh;
    padding: 4rem 0;
    font-family: var(--fonte-paragrafos);
    color: var(--cor-secundaria);
}

div.video2{
    background: var(--linear-gradient-fundo);
}

.container-video>div{
    padding: 2rem 0;
    width: 90%;
    margin: 0 auto;
}

.video{
    width: 100%;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 2rem;
    padding: 3rem 1rem;
    font-family: var(--fonte-paragrafos);
}

.video2 p{
    color: var(--cor-principal);
}

.video1 p{
    color: var(--cor-branco);
}

.container-video h2{
    color: var(--cor-branco);
    font-size: 4rem;
    /* margin: 0 2rem; */
    text-align: center;
    padding: 0 1.5rem;
}

.container-video span{
    color: var(--cor-branco);
}

div.video2 h2{
    color: var(--cor-principal);
}

div.video2 h2 span{
    color: var(--cor-principal);
}

.video-topicos{
    padding: 1rem 0;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.video-topicos>div{
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.video-topico{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.video-topico img{
    max-width: 10rem;
}

.video-topicos h2{
    text-align: center;
    font-size: 3rem;
}

.video iframe{
    width: 90rem;
    height: 47.25rem;
}

.imagens-video{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: var(--cor-branco);
    /* font-weight: bold; */
    /* border: 1px solid red; */
}

.imagens-video>div{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-flow: column nowrap;
}

.imagens-video>div img{
    width: 5rem;
}

.imagens-video span{
    height: 0.3rem;
    background: var(--cor-branco);
    width: 7rem;
}

div.video2 .imagens-video span{
    background: var(--cor-principal);
}

/* Container Motivos - Fim */

/* Container Parceiros - Início */

.container-parceiros{
    background: var(--linear-gradient-fundo-azul);
    background-size: cover;
    color: var(--cor-secundaria);
}

.container-parceiros>div{
    width: 90%;
    margin: 0 auto;
    min-height: 92vh;
    padding: 4rem 0;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 4rem;
    font-family: var(--fonte-paragrafos);
}

.parceiros-flex{
    display: flex;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 14rem;
}

.ezcar-centers{
    /* border: 1px solid red; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: auto;
    max-width: 65rem;
}

.centers{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.center{
    border-radius: 2rem;
    max-width: 20rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--cor-branco);
}

.center h6{
    color: var(--cor-principal);
    font-size: 2rem;
    padding: 0.5rem;
    text-align: center;
}

.center p{
    color: var(--cor-preto);
    font-size: 1.6rem;
    padding: 0.5rem;
    text-align: center;
}

/* width="600" height="450" */

.center iframe{
    width: 100%;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

.container-parceiros h2{
    color: var(--cor-branco);
    font-size: 4rem;
    font-family: var(--fonte-paragrafos);
    font-weight: none;
}

.parceiros>h2, .ezcar-centers>h2{
    width: 100%;
    color: var(--cor-branco);
    font-size: 3rem;
    font-family: var(--fonte-paragrafos);
    text-align: center;
}

.container-parceiros h2:last-child{
    color: var(--cor-branco);
    font-family: var(--fonte-paragrafos);
    font-size: 2rem;
    text-align: center;
}

.parceiros{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;
    gap: 2rem;
}

.parceiros>div:nth-of-type(1), .parceiros>div:nth-of-type(1)>div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
}

.parceiros>div:nth-of-type(1) span{
    padding: 2rem;
    border-radius: 1rem;
    color: var(--cor-branco);
    background: var(--cor-branco);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
    gap: 1rem;
}

.parceiros>div:nth-of-type(1) img{
    max-width: 15rem;
}

.parceiros>div:nth-of-type(1)>div h4{
    color: rgb(211, 22, 22);
    font-size: 3rem;
}

.parceiros>div:nth-of-type(1)>div h3, .parceiros>div:nth-of-type(1)>div p{
    color: rgb(39, 36, 36);
    font-weight: bold;
}

.parceiros>div:nth-of-type(1)>div h3{
    font-size: 2rem;
}

.parceiros>div:nth-of-type(1)>div{
    background: #c6c9c9;
    padding: 2rem;
    gap: 1.5rem;
}

.parceiros>div:nth-of-type(1)>div>div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row nowrap;
    gap: 1.5rem;
}

.parceiros>div:nth-of-type(2){
    background: rgb(165, 10, 10);
    padding: 2rem 2rem;
    border-radius: 1rem;
    color: var(--cor-branco);
    display: flex;
    max-width: 70rem;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
    gap: 0.5rem;
}

.parceiros>div:nth-of-type(2) i{
    color: rgb(28, 189, 28);
}

/* Container Parceiros - Fim */

/* Container Dúvidas - Início */

.container-duvidas{
    background: var(--linear-gradient-fundo);
    background-size: cover;
    color: var(--cor-secundaria);
}

.container-duvidas>div{
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;
    min-height: 92vh;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 5rem;
    font-family: var(--fonte-paragrafos);
}

.container-duvidas h2{
    font-size: 4rem;
    color: var(--cor-principal);
}

.container-duvidas span{
    color: var(--cor-principal);
}

.duvidas{
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    /* border: 1px solid red; */
}

/* .duvidas>div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
} */

.duvidas>span{
    padding: 2rem;
    border: 0.2rem solid var(--cor-principal);
    color: var(--cor-principal);
    font-size: 1.7rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: .3s;
}

.duvidas>span:hover{
    transform: scale(1.05);
}

.duvida{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    /* border: 1px solid red; */
    background: #e7e6e6;
    border-radius: 2rem;
}

div.duvida-ocultar{
    display: none;
}

.duvida>div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    /* gap: 1rem; */
    /* padding: 2rem; */
    overflow: hidden;
    height: 0rem;
    transition: .3s;
}

div.desocultar-duvida{
    height: auto;
}

.duvida h3{
    cursor: pointer;
    border-radius: 2rem;
    width: 100%;
    font-size: 2.5rem;
    background: var(--cor-branco);
    font-family: var(--fonte-paragrafos);
    color: var(--cor-secundaria);
    padding: 2rem;
    position: relative;
}

.duvida p{
    font-weight: bold;
    font-family: var(--fonte-paragrafos);
    font-size: 1.5rem;
    color: var(--cor-principal);
    padding: 1rem;
}

.duvida i{
    color: var(--cor-principal);
}

.duvida i.virar{
    transform: rotate(-90deg);
}

.duvida h3 i{
    position: absolute;
    right: 2rem;
    top: 35%;
}

/* Container Dúvidas - Fim */

/* Container Blog - Início */

/* .container-blog{
    background: url('../images/carro.webp') center;
    background-size: cover;
    width: 100%;
}

.container-blog>div{
    width: 100%;
    background: linear-gradient(90deg, rgba(50,109,143,0.7) 35%, rgba(11,152,233,0.7) 69%);
}

.container-blog>div>div{
    width: 90%;
    margin: 0 auto;
    min-height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 4rem;
    font-family: var(--fonte-paragrafos);
}

.post{
    max-width: 80rem;
    color: var(--cor-branco);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 1rem;
}

.post h2{
    font-size: 4rem;
    text-align: center;
}

.post small{
    font-size: 1.5rem;
}

.post p{
    font-size: 2rem;
}

.post a{
    background: var(--cor-principal);
    padding: 1rem 2rem;
    border-radius: 10rem;
    color: var(--cor-branco);
    transition: .3s;
}

.post a:hover{
    transform: scale(1.05);
} */

/* Container Blog - Fim */

/* Container Cadastro - Início */

.container-cadastro{
    /* background: url('../images/carro3.webp') center; */
    background: var(--linear-gradient-fundo-azul);
    background-size: cover;
    width: 100%;
}

.container-cadastro>div{
    width: 100%;
    padding: 2rem 0;
    /* background: linear-gradient(90deg, rgba(50,109,143,0.7) 35%, rgba(11,152,233,0.7) 69%); */
}

.container-cadastro>div>div{
    width: 90%;
    margin: 0 auto;
    min-height: 92vh;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    gap: 6rem;
    font-family: var(--fonte-paragrafos);
}

.cadastro{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;
    gap: 4rem;
}

.cadastro-coluna{
    /* border: 1px solid green; */
    max-width: 60rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.cadastro-coluna input{
    border: 0.2rem solid var(--cor-principal);
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-weight: bold;
    color: var(--cor-principal);
}

.cadastro-coluna h2{
    color: var(--cor-branco);
    font-size: 4rem;
    font-family: var(--fonte-paragrafos);
}

.cadastro-coluna input::placeholder{
    color: var(--cor-principal);
}

.cadastro-coluna select{
    width: 100%;
    border: 0.2rem solid var(--cor-principal);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    color: var(--cor-principal);
    font-weight: bold;
}

.cadastro-coluna form div{
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.cadastro-coluna form a{
    border: 0.2rem solid var(--cor-branco);
    padding: 1rem 2rem;
    color: var(--cor-branco);
    background: transparent;
    border-radius: 1rem;
    transition: .3s;
    font-weight: bold;
}

.cadastro-coluna form a:hover{
    transform: scale(1.05);
}

.cadastro-coluna form{
    display: flex;
    /* border: 1px solid black; */
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.baixar-app{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background: var(--linear-gradient-fundo);
    padding: 3rem 6rem;
    border-radius: 10rem;
    gap: 2rem;
    width: 90rem;
    min-height: 40rem;
    max-height: 40rem;
    position: relative;
}

.baixar-app>div{
    display: flex;
    max-width: 50rem;
    flex-flow: column nowrap;
    font-family: var(--fonte-paragrafos);
    gap: 2rem;
    color: var(--cor-branco);
}

.baixar-app h2{
    font-size: 4rem;
    text-align: left;
    color: var(--cor-principal);
}

.baixar-app p{
    font-size: 2rem;
    color: var(--cor-principal);
}

.baixar-app img{
    max-width: 15rem;
}

.baixar-app a{
    transition: .3s;
}

.baixar-app a:hover{
    transform: scale(1.05);
}

.baixar-app>img{
    max-width: 50rem;
    transform: translateY(-4.8rem);
}

/* Container Cadastro - Fim */

/* Container Rodapé - Início */

.container-rodape{
    width: 100%;
    background: url('../images/carro2.webp') center;
    background-size: cover;
}

.container-rodape>div{
    width: 100%;
    padding: 2rem 0;
    margin: 0 auto;
    display: flex;
    min-height: 92vh;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column nowrap;
    background: rgba(0, 0, 0, 0.6);
}

.rodape{
    /* background: var(--cor-terciaria); */
    /* background: rgba(247, 247, 247, 0.6); */
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
    width: 100%;
    padding: 2rem;
    /* border: 1px solid blue; */
    font-family: var(--fonte-paragrafos);
}

.rodape>div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.rodape>div>p{
    max-width: 50rem;
    color: var(--cor-branco);
    letter-spacing: 0.1rem;
    /* font-weight: bold; */
}

.rodape ul{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.rodape ul a{
    color: var(--cor-branco);
    transition: .3s;
}

.rodape ul a:hover{
    text-decoration: underline;
}

.rodape strong{
    color: var(--cor-principal);
    font-family: var(--fonte-titulos);
    font-size: 2rem;
}

.rodape>a{
    transition: .3s;
    font-size: 3.5rem;
    max-width: 15rem;
    color: var(--cor-secundaria);
    /* border: 1px solid red; */
}

.rodape>a img{
    width: 100%;
}

.rodape>a:hover{
    transform: scale(1.05);
}

.rodape-imagens{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
    padding: 2rem;
}

.rodape-imagens img{
    width: 15rem;
}

.rodape-imagens a:nth-child(1) img, .rodape-imagens a:nth-child(2) img{
    width: 5rem;
}

.rodape-imagens a{
    transition: .3s;
}

.rodape-imagens a:hover{
    transform: scale(1.05);
}

.rodape-imagens a:nth-child(3) img{
    width: 10rem;
}

.rodape-copyright{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    flex-flow: column nowrap;
}

.rodape-copyright>div{
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    flex-flow: row wrap;
    font-weight: bold;
    font-family: var(--fonte-paragrafos);
    color: var(--cor-branco);
    gap: 2rem;
}

.rodape-copyright p{
    /* border: 1px solid red; */
}

.rodape-copyright a{
    color: var(--cor-branco);
    transition: .3s;
    display: inline-block;
}

.rodape-copyright a:hover{
    transform: scale(1.05);
}

/* Container Rodapé - Fim */

/* @media(max-width: 1150px){
    .video>div{
        max-width: 30rem;
    }
} */

@media(max-width: 1210px){
    .container-motivos>div img{
        max-width: 39rem;
    }

    .container-motivos>div{
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .motivos h2{
        width: 100%;
        text-align: center;
    }

    .baixar-app{
        margin: 10rem 0 0 0;
    }

    .container-cadastro>div>div{
        flex-flow: row wrap;
        padding: 0 0 10rem 0;
    }
}

@media(max-width: 1135px){
    .cabecalho-mobile>div nav{
        display: none;
    }

    .parte-oculta{
        display: flex;
    }

    .container-home>div{
        padding: 4rem 0;
    }

    .parceiros-flex{
        gap: 2rem;
    }
}

header.container-oculto-desocultar{
    transform: translateX(0rem);
}

@media(max-width: 1035px){

    /* header.container-oculto-desocultar{
        transform: translateX(0rem);
    } */

    .parceiros-flex{
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .parceiros{
        width: 100%;
    }

    .cabecalho-mobile{
        display: block;
    }

    .cabecalho{
        display: none;
    }

    .cabecalho-invisivel{
        min-height: 10.5rem;
    }

    .home{
        padding: 1rem 0 0 0;
    }

}

@media(max-width: 935px){

    .video iframe{
        width: 60rem;
        height: 31.5rem;
        margin: 0 auto;
    }

    .box-motivos img{
        max-width: 40rem;
    }

}

@media(max-width: 760px){
    .video iframe{
        width: 48rem;
        height: 25.2rem;
        margin: 0 auto;
    }    
}

@media(max-width: 540px){
    .imagens-video span{
        display: none;
    }

    .parceiros>div:nth-of-type(1)>div>div{
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 860px){
    .duvidas{
        width: 100%;
    }

    .container-duvidas>div{
        width: 90%;
    }
}

@media(max-width: 570px){

    .video iframe{
        width: 30rem;
        height: 15.75rem;
        margin: 0 auto;
    }

}

@media(max-width: 490px){

    .container-home>div img{
        width: 100%;
    }

}


@media(max-width: 730px){
    .baixar-app{
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        max-height: none;
    }

    .baixar-app>img{
        max-width: 20rem;
        transform: none;
    }

    .baixar-app>div{
        justify-content: center;
        align-items: center;
    }

    .baixar-app p{
        text-align: center;
    }

    .baixar-app h2{
        text-align: center;
    }
}

@media(max-width: 1200px){
    .produto-imagem-desktop{
        display: none !important;
    }
    
    .produto-imagem-mobile{
        display: none !important;
    }
    
    .produto-imagem-quadrada{
        display: block !important;
        width: 60% !important;
    }
}

@media(max-width: 1050px){
    .baixar-app{
        width: 100%;
        /* height: 40rem; */
    }
}

@media(max-width: 840px){
    .parceiros{
        flex-flow: row wrap;
    }
}

@media(max-width: 750px){
    .produto-imagem-desktop{
        display: none !important;
    }
    
    .produto-imagem-mobile{
        display: block !important;
        width: 90% !important;
    }
    
    .produto-imagem-quadrada{
        display: none !important;
    }
}

@media(max-width: 555px){
    .imagens-video{
        flex-flow: row wrap;
    }

    .parceiros>div:nth-child(1)>div>div{
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }

    .rodape>div{
        flex-flow: row wrap;
    }
}

@media(max-width: 500px){
    .duvidas{
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 380px){
    html{
        font-size: 50%;
    }
}

